<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css" />
    <title>Create Form</title>
    <style></style>
</head>


<div class="columns" id="app" action="create" method="POST">
    <div class="column">
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" v-model="data.name" required />
            </div>
        </div>
        <div class="field">
            <label class="label">Teacher/Student in Charge</label>
            <div class="control">
                <input class="input" type="text" v-model="data.incharge" required />
            </div>
        </div>

        <div class="field">
            <b-field label="Room to be reserved">
                <b-select id="selectedRoom" v-model="data.selectRoom" placeholder="Select a room" @input="upDateRoom">
                    <option v-for="equipment in equipments" :value="equipment.Room">
                        {{ equipment.Room }}
                    </option>
                </b-select>
            </b-field>
        </div>

        <div class="field">
            <label class="label">Purpose</label>
            <div class="control">
                <textarea class="textarea" placeholder="Textarea" rows="5" v-model="data.detail" required></textarea>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="columns">
            <div class="column">
                <label class="label">Number of students involved</label>
                <div class="control">
                    <input class="input" type="number" min="0" v-model="data.participants" required>
                </div>
            </div>
            <div class="column">
                <label class="label">Interest Club or Class</label>
                <div class="control">
                    <input class="input" type="text" v-model="data.associations" required>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <b-field label="Start Date">
                    <b-datepicker v-model="data.startDate" :locale="locale" placeholder="Click to select..."
                        icon="calendar" trap-focus>
                    </b-datepicker>
                </b-field>
            </div>
            <div class="column">
                <b-field label="End Date">
                    <b-datepicker v-model="data.endDate" :locale="locale" placeholder="Click to select..."
                        icon="calendar" trap-focus>
                    </b-datepicker>
                </b-field>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <b-field label="Start time">
                    <b-timepicker rounded placeholder="Click to select..." icon="clock" v-model="data.startTime"
                        :enable-seconds="enableSeconds" :hour-format="hourFormat" :locale="locale">
                    </b-timepicker>
                </b-field>
            </div>
            <div class="column">
                <b-field label="End time">
                    <b-timepicker rounded placeholder="Click to select..." icon="clock" v-model="data.endTime"
                        :enable-seconds="enableSeconds" :hour-format="hourFormat" :locale="locale">
                    </b-timepicker>
                </b-field>
            </div>
        </div>

        <div class="block">
            <b-radio v-model="data.radio" name="booking_type" native-value="oneTime">
                One time Event
            </b-radio>
            <b-radio v-model="data.radio" name="booking_type" native-value="recurrent">
                Recurrently
            </b-radio>
        </div>

        <b-field>
            <b-select placeholder="Recurrent Type" v-model="data.rtype" :disabled="!isRecurrent">
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
            </b-select>
        </b-field>

        <div class="columns">
            <div class="column">
                <label class="label">Long Table</label>
                <div class="control">
                    <input class="input" type="number" v-model="data.table"
                        :disabled="selectedEquipmentList.longTable == false" min=0 required>
                </div>
            </div>
            <div class="column">
                <label class="label">Chairs</label>
                <div class="control">
                    <input class="input" type="number" v-model="data.chair" min=0
                        :disabled="selectedEquipmentList.chair == false" required>
                </div>
            </div>
        </div>

        <div class="block">
            <b-checkbox v-model="data.equipGroup" native-value="visualizer"
                :disabled="selectedEquipmentList.visualizer == false">
                Visualizer
            </b-checkbox>
            <b-checkbox v-model="data.equipGroup" native-value="computer"
                :disabled="selectedEquipmentList.computer== false">
                computer
            </b-checkbox>
            <b-checkbox v-model="data.equipGroup" native-value="LCDProjectorScreen"
                :disabled="selectedEquipmentList.LCDProjectorScreen== false">
                LCD Projector Screen
            </b-checkbox>
            <b-checkbox v-model="data.equipGroup" native-value="cdProjector"
                :disabled="selectedEquipmentList.cdProjector== false">
                CD Projector
            </b-checkbox>
            <b-checkbox v-model="data.equipGroup" native-value="soundSystem"
                :disabled="selectedEquipmentList.soundSystem== false">
                Sound System
            </b-checkbox>
            <b-checkbox v-model="data.equipGroup" native-value="notebookComputer"
                :disabled="selectedEquipmentList.notebookComputer == false">
                Notebook Computer
            </b-checkbox>
            <b-checkbox v-model="data.equipGroup" native-value="wirelessMicrophone"
                :disabled="selectedEquipmentList.wirelessMicrophone == false">
                Wireless Microphone
            </b-checkbox>
            <b-checkbox v-model="data.equipGroup" native-value="photoTaking"
                :disabled="selectedEquipmentList.photoTaking == false">
                Photo Taking
            </b-checkbox>
            <b-checkbox v-model="data.equipGroup" native-value="pianoMic"
                :disabled="selectedEquipmentList.pianoMic == false">
                Piano Mic
            </b-checkbox>
            <b-checkbox v-model="data.equipGroup" native-value="podium"
                :disabled="selectedEquipmentList.podium == false">
                Podium
            </b-checkbox>
            <b-checkbox v-model="data.equipGroup" native-value="bell" :disabled="selectedEquipmentList.bell == false">
                Bell
            </b-checkbox>
            <b-checkbox v-model="data.equipGroup" native-value="microphoneStand"
                :disabled="selectedEquipmentList.microphoneStand== false">
                Microphone Stand
            </b-checkbox>
            <b-checkbox v-model="data.equipGroup" native-value="cdPlayer"
                :disabled="selectedEquipmentList.cdPlayer= false">
                CD Player
            </b-checkbox>
        </div>

        <b-field label="Special Arrangement Layout ">
            <b-field class="file is-primary" :class="{'has-name': !!data.file}">
                <b-upload v-model="data.file" class="file-label" rounded required>
                    <span class="file-cta">
                        <b-icon icon="upload"></b-icon>
                        <span class="file-label">{{ data.file.name || "Click to upload"}}</span>
                    </span>
                </b-upload>
            </b-field>
        </b-field>
        <div class="field">
            <div class="control">
                <button class="button is-link is-waring" @click="postToServer">
                    Submit
                </button>
            </div>
        </div>
    </div>


<script src="https://unpkg.com/vue"></script>
<!-- Full bundle -->
<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

<!-- Individual components -->
<script src="https://unpkg.com/buefy/dist/components/table"></script>
<script src="https://unpkg.com/buefy/dist/components/input"></script>

<script>
    new Vue({
        el: "#app",
        data: {
            locale: "hk",
            enableSeconds: false,
            hourFormat: "24",
            data: {
                name: '',
                incharge: '',
                associations: '',
                startTime: undefined,
                endTime: undefined,
                radio: 'oneTime',
                startDate: new Date(),
                endDate: new Date(),
                file: {},
                participants: 0,
                detail: '',
                rtype: '',
                selectRoom: '',
                table: 0,
                chair: 0,
                equipGroup: [],
            },
            room104: [],
            room105: [],
            room106: [],
            room107: [],
            room111: [],
            room112: [],
            room201: [],
            room202: [],
            room203: [],
            room204: [],
            room205: [],
            room206: [],
            room207: [],
            room208: [],
            room209: [],
            room211: [],
            room212: [],
            room301: [],
            room302: [],
            room303: [],
            room304: [],
            room305: [],
            room306: [],
            room311: [],
            room312: [],
            room405: [],
            room411: [],
            room412: [],
            room414: [],
            room418: [],
            room419: [],
            room501: [],
            room501A: [],
            room504: [],
            selectedEquipmentList: [],
            conferenceRoom1: [],
            conferenceRoom6: [],
            multiPurposeRoom: [],
            coveredPlaygroundA: [],
            coveredPlaygroundB: [],
            coveredPlaygroundC: [],
            hall: [],
            openPlayground: [],
            readingCorner: [],
            roofPlayground: [],
            studentActivityCentre: [],
            equipments: [
                {
                    Room: "104",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "105",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "106",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "107",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "111",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "112",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "201",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "202",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "203",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "204",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "205",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "206",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "207",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "208",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "209",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "211",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "212",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "301",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "302",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "303",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "304",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "305",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "306",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "311",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "312",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "405",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "411",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "412",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "414",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "418",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "419",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "501",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "501A",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "504",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: true,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    phototaking: false,
                    pianomic: false,
                    podium: false,
                    bell: false,
                    microphonestand: false,
                    cdplayer: false,
                },
                {
                    Room: "1/F Conference Room",
                    visualizer: false,
                    longTable: false,
                    chair: false,
                    computer: false,
                    LCDProjectorScreen: false,
                    soundSystem: false,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    Phototaking: false,
                    pianoMic: false,
                    podium: false,
                    bell: false,
                    microphoneStand: false,
                    CDplayer: false,
                },
                {
                    Room: "6/F Conference Room",
                    visualizer: "TRUE",
                    longTable: "FALSE",
                    chair: "FALSE",
                    computer: "FALSE",
                    LCDProjectorScreen: true,
                    soundSystem: true,
                    notebookComputer: true,
                    wirelessMicrophone: false,
                    photoTaking: false,
                    pianoMic: false,
                    podium: false,
                    bell: false,
                    microphoneStand: false,
                    cdPlayer: false,
                },
                {
                    Room: "Multi-purpose Room",
                    visualizer: false,
                    longTable: true,
                    chair: true,
                    computer: false,
                    LCDProjectorScreen: false,
                    soundSystem: false,
                    notebookComputer: true,
                    wirelessMicrophone: true,
                    photoTaking: true,
                    pianoMic: false,
                    podium: false,
                    bell: false,
                    microphoneStand: false,
                    cdPlayer: false,
                },
                {
                    Room: "Covered Playground A (Entrance)",
                    visualizer: false,
                    longTable: true,
                    chair: true,
                    computer: false,
                    LCDProjectorScreen: false,
                    soundSystem: false,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    photoTaking: false,
                    pianoMic: false,
                    podium: false,
                    bell: false,
                    microphoneStand: false,
                    cdPlayer: false,
                },
                {
                    Room: "Covered Playground B (w/mirrors)",
                    visualizer: false,
                    longTable: true,
                    chair: true,
                    computer: false,
                    LCDProjectorScreen: false,
                    soundSystem: true,
                    notebookComputer: true,
                    wirelessMicrophone: true,
                    photoTaking: false,
                    pianoMic: false,
                    podium: false,
                    bell: false,
                    microphoneStand: false,
                    cdPlayer: false,
                },
                {
                    Room: "Covered Playground C (New Annex)",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: false,
                    LCDProjectorScreen: true,
                    soundSystem: true,
                    notebookComputer: true,
                    wirelessMicrophone: true,
                    photoTaking: true,
                    pianoMic: false,
                    podium: false,
                    bell: false,
                    microphoneStand: false,
                    cdPlayer: false,
                },
                {
                    Room: "Hall",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: false,
                    LCDProjectorScreen: false,
                    soundSystem: false,
                    notebookComputer: true,
                    wirelessMicrophone: true,
                    photoTaking: true,
                    pianoMic: true,
                    podium: true,
                    bell: true,
                    microphoneStand: true,
                    cdPlayer: false,
                },
                {
                    Room: "Open Playground",
                    visualizer: false,
                    longTable: true,
                    chair: true,
                    computer: false,
                    LCDProjectorScreen: false,
                    soundSystem: false,
                    notebookComputer: true,
                    wirelessMicrophone: true,
                    photoTaking: false,
                    pianoMic: true,
                    podium: false,
                    bell: false,
                    microphoneStand: false,
                    cdPlayer: false,
                },
                {
                    Room: "Reading Corner",
                    visualizer: true,
                    longTable: true,
                    chair: true,
                    computer: false,
                    LCDProjectorScreen: false,
                    SoundSystem: false,
                    notebookComputer: true,
                    wirelessMicrophone: true,
                    photoTaking: true,
                    pianoMic: true,
                    podium: false,
                    bell: false,
                    microphoneStand: true,
                    cdPlayer: false,
                },
                {
                    Room: "Roof Playground (Annex R/F)",
                    visualizer: false,
                    longTable: true,
                    chair: true,
                    computer: false,
                    LCDProjectorScreen: false,
                    SoundSystem: false,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    photoTaking: false,
                    pianoMic: false,
                    podium: false,
                    bell: false,
                    microphoneStand: false,
                    cdPlayer: false,
                },
                {
                    Room: "Student Activity Centre (Annex R/F)",
                    visualizer: false,
                    longTable: true,
                    chair: true,
                    computer: false,
                    LCDProjectorScreen: false,
                    SoundSystem: true,
                    notebookComputer: false,
                    wirelessMicrophone: false,
                    photoTaking: false,
                    pianoMic: false,
                    podium: false,
                    bell: false,
                    microphoneStand: false,
                    cdPlayer: false,
                },
            ],
        },

        computed: {
            isRecurrent() {
                return this.data.radio === "recurrent";
            },
        },
        methods: {
            upDateRoom() {
                var select_room = this.selectRoom
                this.selectedEquipmentList = this.equipments.filter(function (room) {
                    return room.room == select_room
                })[0] || {};
            },
            postToServer: async function () {
                var response = await fetch("/booking/create", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(this.data),
                });
                if (response.ok) {
                    var data = await response.json();
                    alert(JSON.stringify(data) + ": ok!");
                } else {
                    alert(response.statusText);
                }
            },
        },
    });
</script>